<section class="featured-promo-list module-separator" data-analytics-container="{'blade': 'featured-promo-list'}">
    <h1 class="featured-promo-list__section-header">
            Placeholder Heading
    </h1>
    <div class="featured-promo-list__tout-container image-border">
        <div class="featured-promo-list__tout" data-analytics-container="{'promo': 'promo block 1'}">
            <div class="featured-promo-list__image-container">
                <a href="#" data-analytics-trigger="cta-promo">
                    <picture>
                        <source media="(max-width: 767px)" srcset="/bin/metacube/image-placeholder?size=531x292&inverse=true">
                        <img src="/bin/metacube/image-placeholder?size=441x243&inverse=true" alt="Placeholder Image"
                            class="responsive-image">
                    </picture>
                </a>
            </div>
            <div class="featured-promo-list__copy-container">
                <h2 class="featured-promo-list__tout-heading">
                    <a href="#" class="link" data-analytics-trigger="cta-promo">
                        Placeholder ColumnHeading
                    </a>
                </h2>
                <p class="featured-promo-list__tout-sub-heading">
                    Placeholder Column SubHeading
                </p>
                <p class="featured-promo-list__tout-desc">
                    Placeholder Description
                    <a href="#disclaimer-drawer" aria-controls="disclaimer-drawer" class="disclaimer__marker">
                        placeholder disclaimer legend ref
                    </a>
                </p>
                <a href="#" class="link link_primary" data-analytics-trigger="cta-promo">
                    Placeholder LinkMoreText
                </a>
            </div>
        </div>

        <div class="featured-promo-list__tout" data-analytics-container="{'promo': 'promo block 2'}">
            <div class="featured-promo-list__image-container">
                <a href="#" data-analytics-trigger="cta-promo">
                    <picture>
                        <source media="(max-width: 767px)" srcset="/bin/metacube/image-placeholder?size=531x292&inverse=true">
                        <img src="/bin/metacube/image-placeholder?size=441x243&inverse=true" alt="Placeholder Image"
                            class="responsive-image">
                    </picture>
                </a>
            </div>
            <div class="featured-promo-list__copy-container">
                <h2 class="featured-promo-list__tout-heading">
                    <a href="#" class="link" data-analytics-trigger="cta-promo">
                        Placeholder ColumnHeading
                    </a>
                </h2>
                <p class="featured-promo-list__tout-sub-heading">
                    Placeholder Column SubHeading
                </p>
                <p class="featured-promo-list__tout-desc">
                    Placeholder Description
                    <a href="#disclaimer-drawer" aria-controls="disclaimer-drawer" class="disclaimer__marker">
                        placeholder disclaimer legend ref
                    </a>
                </p>
                <a href="#" class="link link_primary" data-analytics-trigger="cta-promo">
                    Placeholder LinkMoreText
                </a>
            </div>
        </div>

        <div class="featured-promo-list__tout" data-analytics-container="{'promo': 'promo block 3'}">
            <div class="featured-promo-list__image-container">
                <a href="#" data-analytics-trigger="cta-promo">
                    <picture>
                        <source media="(max-width: 767px)" srcset="/bin/metacube/image-placeholder?size=531x292&inverse=true">
                        <img src="/bin/metacube/image-placeholder?size=441x243&inverse=true" alt="Placeholder Image"
                            class="responsive-image">
                    </picture>
                </a>
            </div>
            <div class="featured-promo-list__copy-container">
                <h2 class="featured-promo-list__tout-heading">
                    <a href="#" class="link" data-analytics-trigger="cta-promo">
                        Placeholder ColumnHeading
                    </a>
                </h2>
                <p class="featured-promo-list__tout-sub-heading">
                    Placeholder Column SubHeading
                </p>
                <p class="featured-promo-list__tout-desc">
                    Placeholder Description
                    <a href="#disclaimer-drawer" aria-controls="disclaimer-drawer" class="disclaimer__marker">
                        placeholder disclaimer legend ref
                    </a>
                </p>
                <a href="#" class="link link_primary" data-analytics-trigger="cta-promo">
                    Placeholder LinkMoreText
                </a>
            </div>
        </div>
    </div>
</section>
