<section class="${properties.style} ${properties.tableBorderStyle}">
	<div class="rich-text-desc">
	<div class="rich-text-desc__container">
    	<div class="rich-text-desc__title-container">
			<h2 class="rich-text-desc__title">Placeholder Heading</h2>
        </div>
        <div class="rich-text-desc__subTitle-container">
			<h3 class="rich-text-desc__subTitle">Placeholder Subheading</h3>
        </div>
        <div class="rich-text-desc__description-container ${properties.fontStyle} ${properties.fontSize}">

			<!-- Do not apply classes on rich text descrition -->
			<p>Placeholder Description</p>
            <table border="0" cellspacing="2" cellpadding="2">
<tbody><tr><td> </td>
<td> </td>
<td>Placeholder</td>
<td>Placeholder</td>
</tr><tr><td> 1.</td>
<td>Placeholder</td>
<td><a href="#"> </a></td>
<td>  </td>
</tr><tr><td> 2.</td>
<td>Placeholder</td>
<td> </td>
<td> </td>
</tr><tr><td> 3.</td>
<td>Placeholder</td>
<td><a href="#"> </a></td>
<td> </td>
</tr><tr><td> 4.</td>
<td>Placeholder</td>
<td> </td>
<td> </td>
</tr><tr><td> 5.</td>
<td>Placeholder</td>
<td> </td>
<td> </td>
</tr><tr><td> 6.</td>
<td>Placeholder</td>
<td> </td>
<td> </td>
</tr><tr><td> 7.</td>
<td>Placeholder</td>
<td><a href="#"> </a></td>
<td> </td>
</tr><tr><td> 8.</td>
<td>Placeholder</td>
<td> </td>
<td>   </td>
</tr><tr><td> 9.</td>
<td> Placeholder</td>
<td> </td>
<td> </td>
</tr>
</tbody></table>

		</div>
	</div>
</div>
</section>
