<div class="rich-text-description">
    <section>
        <div class="rich-text-desc">
            <div class="rich-text-desc__container" style="margin:0% 0%">
                <div class="rich-text-desc__title-container">
                    <h2 class="rich-text-desc__title">Placeholder Heading</h2>
                </div>
                <div class="rich-text-desc__subTitle-container">
                    <h3 class="rich-text-desc__subTitle">Placeholder Sub Heading</h3>
                </div>


                <div style="font-size: px" class="rich-text-desc__description-container">
                    <!-- Do not apply classes on rich text descrition -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Quod vestri non item.&nbsp;Atque
                        his de rebus et splendida est eorum et illustris oratio. Aufert enim sensus actionemque tollit
                        omnem. Duo Reges: constructio interrete.&nbsp;<i>Num quid tale Democritus?</i>&nbsp;Numquam hoc
                        ita defendit Epicurus neque Metrodorus aut quisquam eorum, qui aut saperet aliquid aut ista
                        didicisset. Quod quidem iam fit etiam inSub. <b>Quia volup</b>tatem hanc esse sentiunt omnes,
                        quam sensus accipiens movetur et iucunditate quadam perfunditur.</p>
                    <ul style="list-style-position: inside;">
                        <li>Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis.&nbsp;<i>At
                                enim sequor utilitatem.</i>&nbsp;Ad corpus diceres pertinere-, sed ea, quae dixi, ad
                            corpusne refers? Eam tum adesse, cum dolor omnis absit;&nbsp;Omnia contraria, quos etiam
                            insanos esse vultis.&nbsp;Eorum enim est haec querela, qui sibi cari sunt seseque diligunt.
                            Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere.</li>
                        <li>Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis.&nbsp;<i>At
                                enim sequor utilitatem.</i>&nbsp;Ad corpus diceres pertinere-, sed ea, quae dixi, ad
                            corpusne refers? Eam tum adesse, cum dolor omnis absit;&nbsp;Omnia contraria, quos etiam
                            insanos esse.</li>
                        <li>Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis.&nbsp;<i>At
                                enim sequor utilitatem.</i>&nbsp;Ad corpus diceres pertinere-, sed ea, quae dixi, ad
                            corpusne refers? Eam tum adesse, cum dolor omnis absit;&nbsp;Omnia contraria, quos etiam
                            insanos esse</li>
                    </ul>
                    <table cellpadding="1" cellspacing="0" border="1">
                        <tbody>
                            <tr>
                                <td>placholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                            </tr>
                            <tr>
                                <td>placeholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                            </tr>
                            <tr>
                                <td>placeholder</td>
                                <td>placeholder</td>
                                <td>placeholder</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>
</div>