<section class="media-text module-separator wrapper separator-bottom" data-analytics-container="{'blade': 'media-rich-text'}">
    <div class="media-text__media-container media-text__media-container--right">
        <div class="media-text__media">
            <picture>
                <source media="(max-width: 767px)" srcset="/bin/metacube/image-placeholder?size=420x251&inverse=true" />
                <img src="/bin/metacube/image-placeholder?size=940x600&inverse=true" alt="Placeholder Alt Text" class="multimedia-asset__image">
            </picture>
        </div>
    </div>

    <div class="media-text__copy-container media-text__copy-container--right">
        <h1 class="media-text__title">Placeholder Title</h1>
        <p class="media-text__sub-title">Placeholder SubTitle</p>
        <div class="media-text__search">
            <div class="">
                <a class="button button_primary" href="#" target="_blank" rel="noopener noreferrer">
                    Placeholder Button
                </a>
                <a class="link link_primary media-text__download-link" href="#" target="_blank" rel="noopener noreferrer">
                    <span class="icon-pdf"></span>
                    <span class="media-text__download-text">Placeholder Download Text</span>
                </a>
            </div>
        </div>
    </div>
</section>
