<section data-sly-test.hasContent="${properties.html5video || properties.youtube || properties.vimeo}" class="video">
    <h2 class="video__title">${ properties.title }</h2>
    <p class="video__description">${properties.description}</p>
    <div class="video__container">

        <video data-sly-test.hasHtml5Video="${properties.html5video}" class="video__video-block" autoplay="" loop="" role="presentation" playsinline="" controls>
            <source src=${properties.html5video} type="video/mp4">
            <source src=${properties.html5video} type="video/ogg">
                Your browser does not support HTML5 video.
        </video>

        <sly data-sly-test.hasYoutube="${!hasHtml5Video && properties.youtube}">
            <div class="video_preview-container">
                <picture>
                    <img src="/etc/designs/metacube/images/placeholder_938x531.png" alt="" class="video__img">
                </picture>
            </div>
            <iframe
                height="360"
                frameborder="0"
                allowfullscreen="1"
                allow="autoplay; encrypted-media"
                title="YouTube video player"
                src="https://www.youtube.com/embed/${properties.youtube}?rel=0&amp;wmode=transparent&amp;modestbranding=1&amp;showinfo=0">
            </iframe>
        </sly>

        <sly data-sly-test.hasVimeo="${!hasHtml5Video && !hasYoutube && properties.vimeo}">
            <div class="video_preview-container">
                <picture>
                    <img src="/etc/designs/metacube/images/placeholder_938x531.png" alt="" class="video__img">
                </picture>
            </div>
            <iframe
                height="360"
                frameborder="0"
                allowfullscreen="1"
                allow="autoplay; encrypted-media"
                title="Vimeo video player"
                src="https://player.vimeo.com/video/${properties.vimeo}">
            </iframe>
        </sly>
    </div>
</section>

<sly data-sly-test="${wcmmode.edit && !hasContent}" data-sly-include="placeholder.html" />
