.list-group {
    margin-bottom: $space-4;

    &__heading {
        font-size: 24px;
    }

    &__container {
        display: block;
    }

    &__item {
        border-bottom: 1px solid $alto;
        padding: $space-2 $space-3;

        &:last-child {
            border-bottom: none;
        }

        &-link {
            display: block;
        }
    }
}
