<section class="fixed-hero fluid-hero">
    <div class="fixed-hero__image-container">
        <picture>
            <source media="(max-width: 767px)" srcset="/bin/metacube/image-placeholder?size=768x212&inverse=true">
            <img src="/bin/metacube/image-placeholder?size=2400x900&inverse=true" alt="Placeholder Image"
                class="responsive-image">
        </picture>
    </div>
    <div class="fixed-hero__interior">
        <section class="wrapper fixed-hero__interior-wrapper">
            <div class="fixed-hero__copy-container left dark ">
                <h1 class="fixed-hero__heading">
                    Placeholder Heading
                </h1>
                <p class="fixed-hero__sub-heading">
                    Placeholder SubHeading
                </p>
                <a href="#" class="button button_primary" data-analytics-trigger="cta-hero">
                    Placeholder CTA
                </a>
            </div>
        </section>
    </div>
</section>
